
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1E3A8A, #E91E63); 
    color: rgb(6, 5, 5);
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    display: flex;
    align-items: center; 
    justify-content: space-between; /* Espacement entre l'image et le texte */
    padding: 20px;
    width: 80%;
    margin: auto;
}


h1 {
    font-size: 100px;
    text-align: left;
    color:rgb(69, 8, 58);
}


header img {
    width: 150px;
    height: 150px;
    border-radius: 80%; /* Pourque l'image soit en cercle */
    object-fit: cover;
    border: 3px solid white;
}


section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    text-align: left;
}


a {
    color: rgb(255, 223, 186); 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


h2 {
    font-size: 40px;
    color: #14089c; 
    margin-bottom: 10px;
}


dl dt {
    text-align: left;
    font-weight: bold;
    color: rgb(131, 59, 121);
}

dl dd {
    margin-left: 20px;
}


ul {
    text-align: left;
    margin-left: 20px;
    padding-left: 20px;
}


h3 {
    color: #b285b8; 
    margin-top: 30px;
}

